*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-main{
    width: 100vh;
    height: 100vh;
    position: relative;
}
.bg-login{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-login img{
    width: 100%;
    height: 100%;
object-fit: cover;
}